.dataTableBox {
    width: 85vw;
}

.numberSearch {
    display: flex;
    justify-content: space-between;
}

.containerList {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberPages, .searchBox {
    display: flex;
    align-items: center;
    height: 20px;
}
.dataTableText {
    margin: 0 5px 0 5px;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-spacing: 0px;
    border-collapse: collapse;
    text-align:center;
    vertical-align:middle;
}

thead {
    border-bottom: 1px solid black;
}

.tableFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}

.tableButton {
    border: none;
    background-color: white;
    cursor: pointer;
}

.previousNext {
    display: flex;
}

.currentPage {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
}

td {
    padding:10px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

tbody:nth-child(odd){
    background-color: gainsboro;
}

.fa-sort {
    color: gainsboro;
}

th { 
    cursor: pointer;
    user-select: none;
}

.fa-sort-up, .fa-sort-down {
    color: blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}