.header {
    width: 98vw;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo-image {
    height: 15vh;
}

.titleH1 {
    align-self: center;
    font-size: 4rem;
    color: #343a40;
    text-align: center;
}

.navigation {
    align-self: center;
}

.linkCurrent {
    text-decoration: none;
    color: #343a40;
    border-bottom: solid #343a40;
}