
.header {
    height: 15vh;
    display: flex;
    flex-direction: column;
}

.titleH1 {
    align-self: center;
    font-size: 3rem;
    color: #343a40;
}

.navigation {
    align-self: center;
    margin-bottom: 20px;
}

.linkCurrent {
    text-decoration: none;
    color: #343a40;
    border-bottom: solid #343a40;
}